.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-image {
    width: 200px;
    height: 200px;
    margin: 5px;
    cursor: pointer;
}